langgraph
langchain
python-dotenv
langchain-openai
langchain
langchain-core
streamlit
langgraph-checkpoint-sqlite
langchain-community
uv
aiosqlite
langchain_mcp_adapters
langgraph-checkpoint-postgres
fastapi
uvicorn
streamlit
chromadb
pypdf
pandas
langchain-chroma
langchain-classic
qdrant-client 
langchain-qdrant
rank-bm25
fastembed
fastembed-gpu
pydantic>=2.11.0
deepeval>=2.0.0